# for loops

In [ ]:
# Author : Anuj Gaikwad
# Date : 29/05/2024

#syntax
# for Counter in Sequence:
#     Statements(s)

In [5]:
x = [1,4.2,"nightcrawler"]
print(x[0],x[1],x[2])

1 4.2 nightcrawler

In [11]:
# above code works but what if list had 100 elements? 
# thats why loops
x = [1,4.2,"nightcrawler"]
for i in x :
    print(i)

1
4.2
nightcrawler

In [19]:
# for loop on String
x = "nightcrawler"
for i in x:
    print(i, end=" ")

n i g h t c r a w l e r

In [20]:
# to print a range of numbers
for i in range(0,21):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [21]:
# slicing the range by every 2nd number to print only even
for i in range(0,21,2):
    print(i, end=" ")

0 2 4 6 8 10 12 14 16 18 20

In [23]:
# sum of even numbers 
sum = 0
for i in range(0,21):
    if i % 2 == 0:
        sum = sum + i
print(sum)

110

In [17]:
#patterns

In [28]:
n = int(input("Enter a number"))
for i in range(1,n+1):
    for j in range (1,i+1):
        print(j, end=" ")
    print()

Enter a number 6

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [31]:
r = int(input("enter number of rows"))
c = int(input("enter number of columns"))
x = []
val = []
for i in range(0,r):
    for j in range(0,c):
        val.insert(j,int(input("enter the %d * %d element-" %(i,j))))
    x.insert(i,val) 
    val=[]
y = []
for i in range(0,r):
    for j in range(0,c):
        val.insert(j,int(input("enter the %d * %d element-" %(i,j))))
    y.insert(i,val) 
    val = []
sum = []
for i in range(0,r):
    for j in range(0,c):
        val.insert(j,x[i][j] +y[i][j])
    sum.insert(i,val)
    val=[]
print(sum)

enter number of rows 2
enter number of columns 2
enter the 0 * 0 element- 1
enter the 0 * 1 element- 2
enter the 1 * 0 element- 3
enter the 1 * 1 element- 4
enter the 0 * 0 element- 1
enter the 0 * 1 element- 2
enter the 1 * 0 element- 3
enter the 1 * 1 element- 4

[[2, 4], [6, 8]]